/* ホーム画面のCSS */
body {
    padding: 50px;
    font-size: 100%;
    background-color: white;
}

h1 {
    margin-bottom: 30px;
    font-size: 200%;
    color: black;
    text-align: center;
    
}

.btn-movement {
    position: relative; bottom: 60px;
}

.outer-message-form {
    width:250px;
    height:400px;
    margin-top:100px;
}

textarea {
    resize: none;
    width: 300%;
    height: 20%;
    justify-content: center;
}

.chat {
    position: relative; bottom:145px;
}

.chatarea { /* チャット画面のCSS */
    position: relative; bottom:280px;
    border-style: solid;
    text-align: center;
    width: 100%;
    height: 500px; /* table(親要素)の高さを指定 */
    margin: auto;
    overflow-y: scroll; /* チャットの投稿数が親要素の境界からあふれた場合、画面をスクロールすることで表示できる */
}

th, td, tr {
    border-style: solid;
    border-collapse: collapse;
    border-width: 2px;
}

table {
    margin-left: -2px;
    margin-right: -2px;
    margin-top: -2px;
    margin-bottom: -2px;
    width: 100%;
    height: 30%;
}

table.st-tbl1 th { /* thを固定 */
    color: white;
    background: black;
    position: sticky;
	top: 0;
    text-align: center;
}