/* ホーム画面のCSS */
body {
    padding: 5%;
    font-size: 100%;
    background-color: white;
}

h1 {
    margin-bottom: 30px;
    color: black;
    text-align: center;
}

.btn-3 .btn-warning {
    border-color: #212529;
}

.btn-4 .btn-primary { 
    background-color: purple;
    border-color: purple;
}

.homearea-btn {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 5vw;
}

.chat_delete_button {
    color: white;
    background: #ff0000;
    text-align: center;
    padding: 5px 5px;
    font-size: 1vw;
}

@media screen and (max-width: 767px) { /* スマホ */
    th, td {
        font-size: 2.5vw;
    }

    .chat_delete_button {
        padding: 0;
    }

    td.nickname_box {
        width: 5%;
    }

    td.message_box {
        width: 20%;
    }

    td.created_at_box {
        width: 10%;
    }

    td.delete_box {
        width: 5%;
    }

    h1 {
    font-size: 2rem;
    }
}

@media screen and (min-width: 768px) { /* タブレット */
    th, td {
        font-size: 2.5vw;
    }

    .chat_delete_button {
        padding: 0;
    }

    td.nickname_box {
        width: 5%;
    }

    td.message_box {
        width: 40%;
    }

    td.created_at_box {
        width: 20%;
    }

    td.delete_box {
        width: 5%;
    }

    h1 {
    font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) { /* PC */
    th, td {
        font-size: 1vw;
    }

    td.nickname_box {
        width: 5%;
    }

    td.message_box {
        width: 40%;
    }

    td.created_at_box {
        width: 20%;
    }

    td.delete_box {
        width: 5%;
    }

    h1 {
    font-size: 3rem;
    }
}

.outer-message-form {
    width:100%;
    height: auto;
    margin-top:40px;
}

textarea {
    resize: none;
    width: 100%;
    height: 20%;
    justify-content: center;
}

.chat_table { /* チャット画面のCSS */
    border-style: solid;
    text-align: center;
    height: 500px; /* table(親要素)の高さを指定 */
    margin: auto;
    overflow-y: scroll; /* チャットの投稿数が親要素の境界からあふれた場合、画面をスクロールすることで表示できる */
}

table {
    margin-bottom: 50px;
}

th { /* thを固定 */
    position: sticky;
	top: 0;
}

#footer {
    text-align: center;
    padding: 40px;
    font-size: 1rem;
}