/* 学習記録画面のCSS */
body {
    padding: 5%;
    font-size: 100%;
    background-color: white;
}

h1 {
    margin-bottom: 30px;
    color: black;
    text-align: center;
    font-size: 3rem;
}

.recordarea-btn1 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    justify-items: center;
    align-items: center;
    width: 50%;
    gap: 5vw;
    align-items:stretch;
}

.recordarea-btn2 {
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    width: 50%;
    gap: 5vw;
    align-items:stretch;
}

.btn-5-5 .btn-warning {
    border-color: black;
}

.btn-6 .btn-primary {
    background-color: purple;
    border-color: purple;
}

.record_date_title {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3vh;
}

.record_form {
    display: block;
    padding: 0% 25%;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    width: 100%;
}

.record_form th, td {
    padding-top: 2.8vh;
}

td {
    white-space: nowrap;
}

.form-control {
    border-color: black;
}

.btn-success {
    margin-top: 5vh;
    display: inline-block;
    width: 20vw;
}

.btn-warning {
    margin-top: 5vh;
    display: inline-block;
    width: 20vw;
}

#footer {
    text-align: center;
    padding: 40px;
    font-size: 1rem;
}

@media screen and (min-width: 768px) { /* タブレット */
    h1 {
    font-size: 2.5rem;
    }

    .record_date_title {
        font-size: 1.5rem;
    }

    .record_form {
        margin: 0;
        align-items: center;
        width: 100%;
        /* transform: scale(1.5); */
    }

}

@media screen and (max-width: 767px) { /* スマホ */
    h1 {
    font-size: 2rem;
    }

    .record_date_title {
        font-size: 1rem;
    }

    .recordarea-btn1 {
        width: 100%;
    }

    .recordarea-btn2 {
        width: 100%;
    }

    .record_form table {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .record_form tbody {
        width: 100%;
        margin: 0 auto;
    }

    .record_form tr {
        margin: 0 auto;
        display: grid;
        justify-items: center;
        justify-content: center;
        align-items: center;
        width: 50%;
        align-items: stretch;
    }

    .form-control {
        width: 50vw;
    }


    .btn-success {
        margin-top: 5vh;
        display: inline-block;
        width: 100%;
    }

    .btn-warning {
        margin-top: 5vh;
        display: inline-block;
        width: 100%;
    }
}